<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- css sheets -->
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/iview.css">
    <link rel="stylesheet" href="/css/site.css">

    <!-- js scripts -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://cdnjs.loli.net/ajax/libs/mdui/0.4.3/js/mdui.min.js"></script>

    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="/js/iview.min.js"></script>
</head>

<body>
    <div id="caution" class="row justify-content-center">
        <div id="caution-bg" class="col-10 col-md-6 col-lg-4 text-center">
            <p>このWebサイトは18歳未満の方には有害な情報を含んでおります。</p>
            <p></p>
            <p>あなたは18歳以上ですか？</p>
            <div class="col-12 col-md-9 mx-auto">
                <button class="col-5 caution-btn btn btn-warning float-left"
                    onclick="javascript: button(true)">はい</button>
                <button class="col-5 caution-btn btn btn-warning float-right"
                    onclick="javascript: button(false)">いいえ</button>
            </div>
        </div>
    </div>
    <script>
        caution = document.getElementById("caution")

        if (document.cookie.indexOf("confirmed_18x") > -1) {
            caution.style.visibility = "hidden"
        }

        function button(yes) {
            if (yes) {
                caution.style.visibility = "hidden"
                var date = new Date()
                date.setTime(date.getTime() + 6 * 30 * 86400000); // 6 months
                document.cookie += "confirmed_18x=true;expires=" + date.toGMTString()
            } else {
                // document.location.href = "https://baike.baidu.com/item/%E5%8D%81%E5%85%AB%E7%A6%81"
                window.history.back()
            }
        }
    </script>
    <div id="app">
        <nav id="navbar-first" class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <div class="mavbar-header">
                    <a class="navbar-brand" href="/">
                        H-Comic
                    </a>
                </div>
                <button id="navbar-collapse-button" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon nav-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">
                        {{ if .UseSearch }}
                        <form class="navbar-form mx-auto my-auto form-inline navbar-left" role="search">
                            <div class="form-group">
                                <input name="s" type="text" class="form-control" placeholder="Search">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-link btn-default">
                                    <i class="material-icons md-light">search</i>
                                </button>
                            </div>
                        </form>
                        {{ end }}
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul id="nav-menu" class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link justify-content-center visible-xs" style="text-align:center;"
                                href="/comic">
                                秘密的花园
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link justify-content-center visible-xs" style="text-align:center;"
                                href="/post">
                                贤者的感悟
                            </a>
                        </li>
                        {{ if .IsLogin }}
                        <li class="nav-item">
                            <a class="nav-link justify-content-center visible-xs" style="text-align:center;"
                                href="/user/favorite">
                                收藏的漫画
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link justify-content-center visible-xs" style="text-align:center;"
                                href="/bookmark">
                                标记的书签
                            </a>
                        </li>
                        {{ range .Menu }}
                        <li class="nav-item">
                            <a class="nav-link justify-content-center visible-xs" style="text-align:center;"
                                href="{{ .Link }}" {{ if .Click }} onclick="return false" @click="{{ unescape .Click }}"
                                {{ end }}>
                                {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link justify-content-center visible-xs" style="text-align:center;"
                                href="/login">
                                登录
                            </a>
                        </li>
                        {{ end }}
                        <li class="nav-item">
                            <a class="nav-link justify-content-center visible-xs" style="text-align:center;"
                                href="/about">
                                关于
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content" class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    {{ yield }}
                </div>
            </div>
        </div>
        <!-- <footer class="text-center">
            &copy;Jason 2020
        </footer> -->
    </div>
</body>

</html>