<head>
    <title>Redirect</title>
</head>
<body>
    <h2>{{ .Info }}</h2>
    <p>
        if no response in 3 seconds, <a href="{{ .URL }}">click here</a>and redirect to {{ .URL }}.
    </p>
    <script>
        window.setTimeout(() => {
            window.location.href = "{{ .URL }}"
        }, 2000)
    </script>
</body>