<link rel="stylesheet" href="/css/post.css">

{{range .List.Posts}}
<div class="col-12 col-lg-9 mx-auto post-card">
    <div class="post-card-cover">
        <a href="/post/{{ .ID }}"><img src="{{ .CoverURL }}"></a>
    </div>
    <div class="post-card-title">
        <span><a href="/post/{{ .ID }}">{{ .Title }}</a></span>
    </div>
    <div class="post-card-meta">
        <div class="post-card-date float-left">
            <i class="material-icons md-light">today</i>
            <span>{{ toDate .Date }}</span>
        </div>
        <div class="post-card-read float-left">
            <i class="material-icons md-light">remove_red_eye</i>
            <span>{{ .ReadNum }}</span>
        </div>
    </div>
</div>
{{end}}