<link rel="stylesheet" href="/css/aircloud.css">

<div class="post-container">
    <div class="post-title">
        {{ .Post.Title }}
    </div>
    <div class="post-meta">
        <span class="attr">
            Uploaded at: {{ toDate .Post.Date }}
        </span>
        <span class="attr">
            View: {{ .Post.ReadNum }}
        </span>
        <span class="attr">
            Tags:
            <span>/</span>
            {{range .Tags}}
            <a>{{ .Name }}</a>
            <span>/</span>
            {{end}}
        </span>
    </div>
    <div class="post-content">
        {{ unescape .Post.Content }}
    </div>
</div>