.bm-card {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bm-img-wrapper, .bm-title {
    width: inherit;
}

.bm-img-wrapper {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(1);
}

/* 
.bm-img-wrapper, .bm-meta, .bm-title {
    width: 140px;
} */

.bm-btn-left, .bm-btn-right, .bm-title {
    position: absolute;
}

.bm-btn-left, .bm-btn-right {
    top: 0;
}

.bm-btn-left {
    left: 0;
}

.bm-btn-right {
    right: 0;
}

.bm-title {
    bottom: 0;
    font-size: 1.33333rem;
    height: 2rem;
    background: linear-gradient(#ffffff80, #c8c8c880);
}

.bm-title-empty {
    color: #666666;
}