#picture {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 767.98px) {
    #picture {
        padding-top: 4px;
        padding-bottom: 0;
    }
}

.item-img-wrapper {
    height: 200px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    padding: 10px 20px;
}

.img-wrapper .item-img-wrapper {
    overflow: hidden;
}

.img-wrapper .item-img-wrapper, .item-img-wrapper a, .item-img, .item-title {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
}

.item {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 4px;
}

.item-title {
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-title a {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
    color: #cfcfcf;
}

.row .col-12 {
    padding: 0%;
}

#index-list {
    transition: top 0.3s ease-out 0s;
    position: fixed;
    top: 56px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    overflow-y: auto;
}

.info-title, .info-subtitle {
    color: aliceblue;
}

.info-title {
    font-size: 17px;
}

.info-subtitle {
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.info-tags {
    padding: 20px!important;
}

.info-tag-field, .info-tag-item a {
    font-weight: 700;
}

.info-tag-field {
    color: aliceblue;
    font-size: 1.33333em;
}

.info-tag-item {
    padding: 2px 6px 3px;
    margin: 3px;
    border: 0px solid;
    border-radius: 5px;
    display: inline-block;
    background-color: #5c5c5c;
}

.info-tag-item a {
    color: aliceblue;
}

.info-links a {
    color: #007bff;
}

.info-links span, info-links a, .info-links i {
    font-size: 20px;
}

.info-links button {
    width: inherit;
}

.info-page {
    color:#aaaaaa;
    font-size: 1rem;
}

#picture img {
    margin-bottom: 20px;
    min-height: 20px;
}

.popup-prompt, .popup-text {
    font-size: 20px;
}

.popup-prompt {
    color: #777777;
}

.readProgress {
    position: absolute;
    top:0;
    width: 100%;
}