.recent-title {
    padding: 15px;
}

.post-card {
    padding: 10px 0 !important;
    margin-bottom: 10px;
}

.post-card:hover {
    background-color: rgba(255,255,255,0.05);
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.post-card a:hover {
    color: #62f2fe;
    transition: all .3s ease-in-out;
}

.post-title {
    font-size: 1.33333rem;
}

.post-date {
    padding-right: 2rem;
}

.post-meta, .post-meta i {
    font-size: 14px;
}

.post-meta i {
    padding-right: .4rem;
    vertical-align: middle;
}

.post-meta a, .post-meta span, .post-title a {
    color: aliceblue;
}

.recent-comic-list .col-12 {
    padding: 0;
}


.image-row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.image-wrapper {
    overflow: hidden;
    height: 220px;
    border-radius: 3px;
}

.image-wrapper:hover {
    box-shadow: 0 0 20px #FFF;
    transition: all .3s ease-in-out;
}

.image-wrapper a, .image-wrapper img {
    width: inherit;
    height: inherit;
}

.image-wrapper img {
    padding: 0;
    object-fit: cover;
}

.comic-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: rgba(0,0,0,0.6);
}

.comic-title {
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comic-title a {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
}
