#login-card {
    margin-top: 40px;
}

#login-card h2 {
    color: #a9a9a9;
}

.control-label, .btn-default {
    font-weight: 700;
    color: #d1d1d1;
}

.btn-default {
    background-color: darkcyan;
}

.btn-default:hover {
    color: darkslateblue;
}

.form-control {
    background-color: #6b6b6b!important;
    color: aliceblue!important;
    border: 1px solid #707070!important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #cfcfcf40!important;
}