.post-card {
    padding-top: 50px;
    padding-bottom: 50px;
}

.post-card-cover {
    padding-bottom: 10px;
}

.post-card-cover, .post-card-cover img {
    width: 100%;
}

.post-card-title {
    font-size: 30px;
}

.post-card-date {
    padding-right: 2rem;
}

.post-card-meta, .post-card-meta i {
    font-size: 14px;
}

.post-card-meta i {
    padding-right: .4rem;
    vertical-align: middle;
}

.post-card-meta a, .post-card-meta span, .post-card-title a {
    color: aliceblue;
}