body {
    background: #121212;
}

#content {
    margin-bottom: 50px;
}

.material-icons {
    vertical-align: text-bottom;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

nav {
    background: rgba(255,255,255,0.05) !important;
    color: white !important;
    box-shadow: 0 3px 3px black;
}

.navbar-brand, .nav-link {
    color: #FFF !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #62f2fe !important;
    transition: all .5s ease-out !important;
}

.nav-icon {
    font-size: 15px;
}

a {
    color: rgba(255,255,255,0.87);
}

a, a :hover {
    transition: all .3s ease-out 0s;
}

a :hover {
    color: #3361ea;
    text-decoration: none;
}

.invalid-feedback {
    color: orange;
}

#caution {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 50, 40, 0.9);
    z-index: 500;
}

.caution-btn {
    color: white;
    font-weight: bold;
    font-size: 1.33333em;
}

#caution-bg {
    height: fit-content;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    box-sizing: border-box;
}

.content-card {
    background: rgba(255,255,255,0.05) !important;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 20px 0;
    box-shadow: 0 3px 3px black;
}

.text-hiemp {
    color: rgba(255,255,255,0.87);
}

.text-miemp {
    color: rgba(255,255,255,0.6);
}

.text-disabled {
    color: rgba(255,255,255,0.38);
}

.ivu-message-notice-content {
    background-color: #121212 !important;
    color: rgba(255,255,255,0.87) !important;
}