<link rel="stylesheet" href="/css/bookmark.css">

<div id="popup-windows">
    <Modal v-model="popedit" title="修改书签" @on-ok="editHandler">
        <i-input v-model="title"></i-input>
    </Modal>
    <Modal v-model="popdelete" title="删除书签" @on-ok="removeHandler">
        <p>确认删除书签吗？</p>
    </Modal>
</div>

{{ if eq 0 (len .Bookmarks) }}
<div class="col-12 mx-auto text-center">-- End --</div>
{{ end }}

{{ range .Bookmarks }}
<!-- bookmark card -->
<div class="bm-card col-6 col-md-3 float-left">
    <!-- picture -->
    <div class="bm-img-wrapper" style="background-image: url({{ .CoverURL }});">
        <div class="bm-meta">
            <button class="btn bm-btn-left btn-link" onclick="app.edit({{ .ID }}, '{{ .Title }}')">
                <i class="material-icons icon-light">edit</i>
            </button>

            <button class="btn bm-btn-right btn-link" onclick="app.remove({{ .ID }})">
                <i class="material-icons icon-light">delete</i>
            </button>
        </div>
        <div class="bm-title text-center">
            <a href="/comic/{{ .ComicID }}/gallery#{{ .PageNum }}">
                {{ if .Title }}
                {{ .Title }}
                {{ else }}
                <span class="bm-title-empty">(empty)</span>
                {{ end }}
            </a>
        </div>
    </div>
</div>
{{ end }}

<script src="/js/bookmark/index.js"></script>