<link rel="stylesheet" href="/css/index.css">

<!-- recent posts -->
<div class="recent-post content-card col-12">
    <div class="recent-title text-miemp">
        <h3>近期文章</h3>
    </div>
    {{ range .Posts }}
    <div class="post-card col-12">
        <div class="post-title col-12">
            <span><a href="/post/{{ .ID }}">{{ .Title }}</a></span>
        </div>
        <div class="post-meta col-12">
            <div class="post-date float-left">
                <i class="material-icons md-light">today</i>
                <span><a href="/post/{{ .ID }}">{{ toDate .Date }}</a></span>
            </div>
            <div class="post-read">
                <i class="material-icons md-light">remove_red_eye</i>
                <span><a href="/post/{{ .ID }}">{{ .ReadNum }}</a></span>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<!-- recent comics -->
<div class="recent-comic-list content-card col-12">
    <div class="recent-title text-miemp">
        <h3>近期漫画</h3>
    </div>
    {{ range .Comics }}
    <div class="col-6 col-md-3 float-left image-row">
        <div class="col-12 image-wrapper">
            <a href="/comic/{{ .ID }}">
                <img class="image" src="/manhua/{{ .CoverURL }}">
            </a>
            <div class="comic-meta">
                <h2 class="comic-title">
                    <a href="/comic/{{ .ID }}">{{ .Title }}</a>
                </h2>
            </div>
        </div>
    </div>
    {{ end }}
    <div style="clear:both;"></div>
</div>
