<link rel="stylesheet" href="/css/comic.css">

<meta name="comic" content="{{ .Comic.Folder }}">

<div id="picture">
    <div class="col-12 col-md-9 col-lg-6 mx-auto" @click="ClickHandler">
        <img class="item-img" :src="'/manhua/{{ .Comic.Folder }}/' + pictures[current-1].name">
    </div>
    <Modal v-model="popup" title="插眼" @on-ok="bookmark" @on-cancel="initPrompt">
        <p class="popup-prompt" v-text="prompt"></p>
        <br>
        <i-input class="" type="text" name="title" v-model="title" placeholder="起个名吧～(默认为空)"></i-input>
        <p class="popup-text">添加该漫画第 <span class="text-info" v-text="current"></span> 页到书签？</p>
    </Modal>

    <div class="mdui-fab-wrapper" id="fab">
        <button class="mdui-fab mdui-ripple mdui-color-blue-accent">
            <i class="mdui-icon material-icons">add</i>
            <i class="mdui-icon mdui-fab-opened material-icons md-light">close</i>
        </button>
        <div class="mdui-fab-dial">
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-red" @click="bookmarkHandler">
                <i class="mdui-icon material-icons md-light">bookmark</i>
            </button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-purple"
                @click="favoriteHandler({{ .Comic.ID }})">
                <i class="mdui-icon material-icons md-light">favorite</i>
            </button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-orange" @click="homeHandler({{ .Comic.ID }})">
                <i class="mdui-icon material-icons md-light">home</i>
            </button>
        </div>
    </div>
    <div class="mdui-progress readProgress">
        <div class="mdui-progress-determinate"></div>
    </div>
</div>

<script src="/js/comic/gallery.js"></script>