<meta name="keyword" content="{{ .Keyword }}">
<meta name="favorite" content="{{ .Favorite }}">

<link rel="stylesheet" href="/css/comic.css">
<link rel="stylesheet" href="https://unpkg.com/mescroll.js@1.4.1/mescroll.min.css">
<script src="https://unpkg.com/mescroll.js@1.4.1/mescroll.min.js" charset="utf-8"></script>

<div id="index-list" class="col-md-9 mx-auto">
    <div>
        <template v-for="item in list">
            <div class="col-6 col-md-3 float-left">
                <div class="col-12 item-img-wrapper">
                    <a :href="'/comic/' + item.ID">
                        <img class="item-img" :src="'/manhua/' + item.CoverURL">
                    </a>
                </div>
                <div class="col-12 item">
                    <h2 class="item-title">
                        <a :href="'/comic/' + item.ID" v-text="item.Title"></a>
                    </h2>
                </div>
            </div>
        </template>
    </div>
</div>

<script src="/js/comic/index.js"></script>