<link rel="stylesheet" href="/css/comic.css">
<meta name="comic" content="{{  .Comic.Folder }}">
<meta name="liked" content="{{ .Liked }}">

<!-- header info -->
<div id="info" class="col-12 col-lg-9 mx-auto">
    <div class="col-12 col-lg-6 info-cover img-wrapper ml-auto float-left">
        <a href="/comic/{{ .Comic.Folder }}/gallery">
            <img src="/manhua/{{ .Comic.CoverURL }}">
        </a>
    </div>
    <div class="col-12 col-lg-6 info-tags mr-auto float-left">
        <h1 class="info-title" v-text="info.Title"></h1>
        <h2 class="info-subtitle" v-text="info.SubTitle"></h2>

        <div class="col-3 float-right">
            <button class="btn btn-link" onclick="javascript: app.favorHandler();">
                <i class="material-icons icon-light" v-text="icon"></i>
            </button>
        </div>
        <div>
            <span class="info-tag-field">Tags:</span>
            <template v-for="item in info.Tags">
                <span class="info-tag-item"><a :href="'/tags/' + item" v-text="item"></a></span>
            </template>
        </div>
        <div v-show="info.Artists">
            <span class="info-tag-field">Authors:</span>
            <template v-for="item in info.Artists">
                <span class="info-tag-item"><a :href="'/tags/' + item" v-text="item"></a></span>
            </template>
        </div>
        <div v-show="info.Groups">
            <span class="info-tag-field">Groups:</span>
            <template v-for="item in info.Groups">
                <span class="info-tag-item"><a :href="'/tags/' + item" v-text="item"></a></span>
            </template>
        </div>
        <div>
            <span class="info-tag-field">Languages:</span>
            <template v-for="item in info.Languages">
                <span class="info-tag-item"><a :href="'/tags/' + item" v-text="item"></a></span>
            </template>
        </div>
        <div class="info-page">
            # <span v-text="info.Pictures.length"></span> pages
        </div>
    </div>
    <div class="info-links">
        <span class="col-9 col-lg-4 float-left">
            <button class="btn btn-info" onclick="window.location.href = '/comic/{{ .Comic.Folder }}/gallery'">
                <i class="material-icons icon-light">library_books</i>
                <span>Read</span>
            </button>
        </span>
    </div>
</div>
<!-- Picture list -->

<script src="/js/comic/show.js"></script>