<link rel="stylesheet" href="/css/login.css">

<div id="login-card" class="col-12 col-md-9 col-lg-6 mx-auto">
    <h2>{{ .FormTitle }}</h2>
    <form id="login-form" class="form-horizontal" method="POST">
        <div class="form-group"></div>
        <div class="form-group">
            <label class='control-label' for="name">Name:</label>
            <input class="form-control {{ .IsInvalid.Name }}" type="text" name="name" value="{{ .Old.Name }}"
                autocomplete="off" autofocus>
            <span class="invalid-feedback" role="alert">
                <strong>{{ .ErrInfo.Name }}</strong>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password:</label>
            <input class="form-control {{ .IsInvalid.Password }}" value="{{ .Old.Password }}" type="password" name="password">
            <span class=" invalid-feedback" role="alert">
            <strong>{{ .ErrInfo.Password }}</strong>
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-submit">submit</button>
        </div>
    </form>
</div>